<p>
  This an example application that demonstrates how you can easily instrument your rails app to build
  and share live monitoring dashboards with <%= link_to 'Regrapher', 'https://www.regrapher.com' -%>.
</p>
<p>
  The application is open source code is available at <%= link_to 'github', 'https://github.com/regrapher/regrapher-example-app-rails-4' -%>.
</p>

