<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Cancel', :back, class: 'btn btn-lg btn-default' %>
<% end %>